/* RickAndMorty/src/app/components/character-list/character-list.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.character-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: calc(50% - 1rem); /* 100% / 2 - gap */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* A침adir transici칩n para el efecto hover */
}

.character-card:hover {
  transform: scale(1.05); /* Efecto hover para hacer la carta m치s grande */
}

.character-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 1rem;
  margin: 20px;
}

.character-details {
  flex: 1;
  margin: 20px;
}

.line1 {
  color: black;
}

.line2 {
  color: #007bff; /* Azul m치s oscuro */
}

.line3 {
  color: green;
}

.line4 {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 1rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  .character-card {
    width: 100%;
  }
}